# Project: Investigate and Analysis a CSV Dataset <br>"IT Salary Survey for EU region (2020)"

### Data Link : https://www.kaggle.com/datasets/parulpandey/2020-it-salary-survey-for-eu-region

## Table of Contents
<ul>
<li><a href="#dd">Data Discovery</a></li>
<li><a href="#dw">Data Wrangling And Cleaing</a></li>
<li><a href="#df">Data Final Look</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#con">Conclusions</a></li>
<li><a href="#st">The Story</a></li>

</ul>

# About The Data

An anonymous salary survey has been conducted annually since 2015 among European IT specialists with a stronger focus on Germany.<br>
it Contains 1238 respondents volunteered to participate in the survey.<br>

# Our Goal From The DataSet: 
* Analysis The IT Market Of Opportunity and How To Find a Job as IT Specialist in Europe 2020 
* How To Prepare Yourself as Student and have a High Chace to Get A Job As IT Specialist

## EDA Questions:
<ol>
    
    
    
<li>How Big Are The Companies In Europe ?

    
<li>What Are The Most Popular Technologies Per Each Position ?

<li>How Many Years Of Experience Do You Need To Get Each Work Level In Germany?

<li>Which City has The Highest Chance To Get An Opportunity?

<li>Which Domain Pays more ?

<li>Which Age Has The Highest Chance To Get an IT Opportunity ?

<li>How safe Are The Opportunites in Europe ?                 
    
<li>What is The most Common Work Level ?

<li>Which Work Level Get More Vacation ?

<li>Which Language Should You Use There ?
    
<li>What is The Most Popluar Job In Europe 2020?

    
<li>How Covid-19 Affects on The Jobs in 2020 ?  

</ol>

# Columns Description

**Timestamp:** Row's Recorded Time <br>

**Age:** Person's Age <br>

**Gender:** Person's Gender <br>

**City:** Person's City <br>

**Position:** Person's job Positoon <br>

**Total years of experience:** Person's Total Experience <br>

**Years of experience in Germany:** Person's Germany Experience <br>

**Seniority level:** Person's Work Level <br>

**Your main technology / programming language:** Person's Main Work Technology <br>

**Other technologies/programming languages you use often:** Person's Other Technology Can Be Used <br>

**Yearly brutto salary (without bonus and stocks) in EUR:** Person's Main Salary <br>

**Yearly bonus + stocks in EUR:** Person's Main Salary With The bonus <br>

**Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country:** Person's Annual brutto salary <br>

**Annual bonus+stocks one year ago. Only answer if staying in same country:** Person's bonus of the last year <br>

**Number of vacation days:** vacation days Per Year <br>

**Employment status:** Job State <br>

**Сontract duration:** Contract State <br>

**Main language at work:** Main Used Language <br>

**Company size:** Company size <br>

**Company type:** Company Domain <br>

**Have you lost your job due to the coronavirus outbreak?:** Corona Affect On The Person's Job <br>

**Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week:** If The Person forced to have a shorter working week <br>

**Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR:** If The Worker Forced The Employee To Work More due to Work From Home<br>

## Import And Load The CSV File

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
# Load The CSV File
df = pd.read_csv("IT Salary Survey EU  2020.csv")
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

<a id='dd'></a>

# Data Discovery

<img src="https://media.giphy.com/media/l2JhORT5IFnj6ioko/giphy.gif
"/>

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

<a id='dw'></a>
# Data Wrangling And Cleaing

<img src="https://media2.giphy.com/media/eMbKluW9vLGtFKI5JR/giphy.gif?cid=790b76115a267806e51ce17aa44eab93764caf217ee82620&rid=giphy.gif&ct=g
"/>

**Some Columns Need To Get Removed, Because No Use For Them:** <br>
1- "Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week"<br>
2- "Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"<br>
3- "Annual bonus+stocks one year ago. Only answer if staying in same country"<br>
4- "Yearly bonus + stocks in EUR"<br>
5- "Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country"<br>
6- 'Timestamp'

In [4]:
df.drop(
    columns=[
        "Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week",
        "Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR",
        "Annual bonus+stocks one year ago. Only answer if staying in same country",
        "Yearly bonus + stocks in EUR",
        "Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country",
        'Timestamp'],
    inplace = True 
)

**Rename Some Columns For Easier Use**

In [5]:
df.rename(columns = {
    'Total years of experience':'experience',
    'Years of experience in Germany':'germany_experience',
    'Seniority level':'work_level',
    'Your main technology / programming language':'main_tech',
    'Other technologies/programming languages you use often':'other_tech',
    'Number of vacation days':'vacation_days',
    'Yearly brutto salary (without bonus and stocks) in EUR':'yearly_salary',
    'Employment status':'emp_state',
    'Сontract duration':'contract_duration',
    'Main language at work':'main_language',
    'Company size':'company_size',
    'Company type':'company_type',
    'Have you lost your job due to the coronavirus outbreak?':'covid_lost',
    'Age':'age',
    'Gender':'gender',
    'City':'city',
    'Position ':'position'
    
}, inplace = True)

In [6]:
df.head()

,age,gender,city,position,experience,germany_experience,work_level,main_tech,other_tech,yearly_salary,vacation_days,emp_state,contract_duration,main_language,company_size,company_type,covid_lost
0,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,30,Full-time employee,Unlimited contract,English,51-100,Product,No
1,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,80000.0,28,Full-time employee,Unlimited contract,English,101-1000,Product,No
2,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes
3,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,54000.0,24,Full-time employee,Unlimited contract,English,51-100,Startup,No
4,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,29,Full-time employee,Unlimited contract,English,101-1000,Product,No

## Check Structure Error And Null Values

In [7]:
for i in df.columns:
    print(
        i,': Null Count is',df[i].isnull().sum(),
          '\n',df[i].unique(),
          '\n','*'*50
    )

age : Null Count is 27
 [26. 29. 28. 37. 32. 24. 35. nan 34. 31. 41. 27. 25. 59. 36. 38. 40. 39.
 33. 30. 49. 48. 44. 66. 45. 43. 42. 46. 47. 56. 53. 65. 22. 23. 50. 51.
 21. 20. 54. 69. 52.]
 **************************************************
gender : Null Count is 10
 ['Male' 'Female' nan 'Diverse']
 **************************************************
city : Null Count is 0
 ['Munich' 'Berlin' 'Hamburg' 'Wolfsburg' 'Stuttgart' 'Schleswig-Holstein'
 'London' 'Konstanz area' 'Frankfurt' 'Cologne' 'Kempten' 'Münster'
 'Erlangen' 'Vienna' 'Moldova' 'Rosenheim' 'Mannheim ' 'Boeblingen'
 'Düsseldorf' 'Ingolstadt' 'Nürnberg' 'Ansbach' 'Leipzig' 'Mannheim'
 'Tuttlingen' 'Bonn' 'Moscow' 'Koblenz' 'Warsaw' 'Heidelberg' 'Karlsruhe'
 'Köln' 'Aachen' 'Karlsruhe ' 'Samara' 'Riga, Latvia' 'Dusseldorf'
 'Zurich' 'Helsinki' 'Würzburg' 'Kiev' 'Den Haag' 'Amsterdam' 'Cracovia'
 'Tallinn' 'Prague' 'Utrecht' 'Stockholm' 'Braunschweig ' 'Dresden' 'Kyiv'
 'Stuttgart ' 'Malta' 'Lübeck' 'Nuremberg ' 'Bodensee' 'Milan' 'Salzburg'
 'Rome' 'Wroclaw' 'Cupertino' 'Paris' 'Dublin ' 'Paderborn' 'Konstanz'
 'Ulm' 'Düsseldorf ' 'Barcelona' 'Bölingen' 'Tampere (Finland)' 'Hannover'
 'Bucharest' 'Siegen' 'Minsk' 'Nuremberg' 'Marseille' 'Friedrichshafen'
 'Walldorf' 'Eindhoven' 'France' 'Regensburg' 'Warsaw, Poland' 'Heilbronn'
 'Dortmund' 'Jena' 'City in Russia' 'Cracow' 'Brunswick' 'Dublin' 'Madrid'
 'Lisbon' 'Sofia' 'Luttich' 'Milano' 'Bielefeld' 'Basel' 'NJ, USA'
 'Istanbul' 'warsaw' 'Hildesheim' 'Heidelberg ' 'Murnau am Staffelsee '
 'Zürich' 'Innsbruck' 'Brussels ' 'Hildesheim ' 'Prefer not to say'
 'Dusseldurf' 'Fr' 'Darmstadt' 'Duesseldorf' 'Cambridge' 'Brussels'
 'Copenhagen' 'Sevilla' 'Krakow' 'Ingolstadt ' 'Saint-Petersburg'
 'Saarbrücken']
 **************************************************
position : Null Count is 6
 ['Software Engineer' 'Backend Developer' 'Frontend Developer' 'DevOps'
 'Data Engineer' 'Designer (UI/UX)' 'Product Manager' 'Mobile Developer'
 'Software Architect' 'Team Lead' 'Test manager' 'QA Engineer'
 'Data Scientist' 'Hardware Engineer' 'Engineering Manager'
 'Analytics engineer' 'Localization producer' 'Reporting Engineer'
 'Account Managet' 'agile master ' 'ML Engineer' 'Solution Architect'
 'BI Consultant' 'Fullstack Developer' nan 'Cloud Architect'
 'System Administrator' 'Project Manager' 'Network Engineer '
 'VP Engineering' 'Agile Coach' 'Data Science Manager' 'Scrum Master'
 'Firmware Engineer' 'Solutions Architect' 'Data Center Manager'
 'C/C++/Java developer' 'DevOps Manager' 'Tech Lead'
 'Network Administrator' 'Security Manager' 'Consultant Data Analytics'
 'BI IT Consultant' 'Graphic Designer' 'iOS Developer' 'Banker'
 'Cloud Engineer' 'Solutions architect' 'Stuttgart'
 'Senior Program Manager' 'DB developer/Data analyst' 'Security Engineer'
 'Business Analyst' 'DBA' 'Support Engineer' 'Consultant' 'Recruiter'
 'Testautomation' 'SAP Developer' 'Systemadministrator' 'SW Architect'
 'SRE' 'Fullstack engineer, ну или Software engineer' 'HiWi'
 'Project manager' 'Architect' 'Technical Lead' 'Tech Lead / Full-Stack'
 'Marketing Analyst' 'CTO' 'Senior Network&Security Eng.'
 'Software tester ' 'SAP BW Senior Consultant ' 'QA Manager '
 'Director of Engineering' 'IT Spezialist' 'Manager' 'Consultant '
 'Data Analyst' 'Software Developer in Test' 'Technical account manager '
 'Tech Leader' 'Chief Research Officer' 'Presales Engineer '
 'Freelance AI lead / advisor' 'Business Development Manager Operations '
 'Program Manager' 'Researcher' 'Engineering manager'
 'Embedded Software Engineer' 'Dana Analyst' 'Team Manager'
 'Data Analyst ' 'working student (QA)' 'Architect ' 'Head of Engineering'
 'SAP Consultant' 'BI Consultant SAP/ Data Engineer'
 'computer vision researcher' 'Teamlead' 'Senior Data Engineer' 'Analyst'
 'IT Manager' 'Head of IT ' 'Lead Software Developer' 'data engineer'
 'Tech recruiting' 'BI Analyst ' 'BI Developer / Data Engineer'
 'Senior Scrum Master (RTE)' 'Head of BI' 'Technical project manager'
 'Project manager ' 'support engineer' 'Security engineer'
 'Big Data Engineer' 'Manager ' 'Professor' 'AI Management' 'Sales '
 'XR Developer' 'Student, Software Developer, Data Engineer'
 'Engineering Team Lead' 'DataOps Team Lead' 'Software Sales' 'Beikoch'
 'Product Management Praktikant' 'Data analyst ' 'Product Analyst'
 'Team lead' 'It Consulting ' 'Data architect' 'Staff Engineer'
 'Head of IT' 'Computational linguist' 'Rentner'
 'technical business analyst' 'Full-Stack Developer' 'QA Manager'
 'QA Lead' 'Robotics Engineer' 'DatabEngineer' 'Application Consultant'
 'Lead Developer' 'Software Architekt' 'Testmanager' 'ERP Consultant'
 'Researcher/ Consumer Insights Analyst ' 'IT Operations Manager']
 **************************************************
experience : Null Count is 16
 ['5' '7' '12' '4' '17' '6' '8' '15' '2' '25' nan '14' '11' '18' '13' '30'
 '10' '3' '40' '26' '23' '9' '19' '20' '5.5' '22' '16' '0.8' '1' '1.5'
 '6.5' '21' '7.5' '2.5' '28' '29' '1,5' '24' '0' '4.5' '27'
 '1 (as QA Engineer) / 11 in total' '2,5' '15, thereof 8 as CTO' '31'
 '6 (not as a data scientist, but as a lab scientist)' '383' '3.5'
 'less than year']
 **************************************************
germany_experience : Null Count is 32
 ['3' '4' '6' '1' '0.4' '2' '11' nan '5' '9' '30' '7' '15' '10' '18' '0'
 '8' '2.5' '1,5' '1.5' '0.5' '13' '14' '4,5' '3.5' '0.8' '1,7' '12' '3,5'
 '20' '0.9' '25' '< 1' '0.25' '4 (in Switzerland), 0 (in Germany)' '16'
 '17' '4 month' '19' '2,5' '0,5' '26' '3 months' '4.5' '0.1' '2.6'
 '3 (in Poland)' '<1' '⁰' '0,3' '-'
 '6 (not as a data scientist, but as a lab scientist)' '0.2'
 'less than year']
 **************************************************
work_level : Null Count is 12
 ['Senior' 'Lead' 'Junior' 'Middle' 'Head' nan 'No level' 'VP' 'Manager'
 'Work Center Manager' 'CTO' 'No level ' 'Director' 'Key'
 'C-level executive manager' 'Principal' 'intern' 'Student'
 'no idea, there are no ranges in the firm ' 'C-Level' 'Working Student'
 'Entry level' 'Intern' 'student' 'Self employed']
 **************************************************
main_tech : Null Count is 127
 ['TypeScript' 'Ruby' 'Javascript / Typescript' 'Javascript' 'C# .NET'
 'AWS, GCP, Python,K8s' 'Typescript' 'PHP' 'Java'
 'Aws Hadoop Postgre Typescript' 'C++' nan 'Kotlin' 'kotlin' 'NodeJS'
 'iOS' 'Kubernetes' 'Charles' 'SQL' 'Go' 'java' 'Python' 'Figma'
 'JavaScript' 'Go/Python' 'React' 'С#' 'Php' 'ruby on rails'
 'JavaScript/ES6' '.NET' 'Hardware' 'C#' 'Google Cloud Platform' 'Js'
 'android' 'JavaScript ' 'Scala' 'python' 'C#, .net core' 'VHDL'
 'Power BI' 'PHP ' 'none' 'Android' 'Swift' 'ML' 'php' 'Scala, React.js'
 'Ml/Python' 'JavaScript/TypeScript' 'Ruby on Rails' 'Azure, SAP'
 'Frontend' 'Java, JavaScript' 'yaml' 'Python ' 'JS' 'Java ' '-' 'Agile'
 'C' 'TypeScript, JavaScript' 'Pegasystems platform '
 'C++, Java, Embedded C' 'Cloud' 'DC Management' '--' 'SWIFT'
 'Java, angular, Aws' 'Swift, objective-c' 'Golang' 'go' 'DevOps' '.net'
 'Node.js' 'R' 'Java, Javascript' 'Bash' '.Net' 'Network' 'nothing'
 'Qlik BI Tool, SQL' 'Blockchain' 'Angular' 'Autonomous Driving' 'c#'
 'Js, TypeScript, Angular' 'T-SQL' 'c++' 'Java, terraform'
 'Pascal, VB.NET, C#' 'Oracle' 'Javascript ' 'Angular, React' 'Elixir'
 'NodeJS, Typescript, AWS' 'Erlang' 'Java, JS' 'Objective-C' 'QA' 'C++/C#'
 'ABAP' 'Java/Kotlin' 'Typescript / Angular' 'React/Typescript' 'Golang '
 'Salesforce ' 'javascript' 'Java/C++' 'Scala / Python' 'Java/Scala'
 'Web developer' 'JavaScript/Typescript' 'TypeScript, React'
 'Python / JavaScript (React)' 'JavaScript / typescript' 'Terraform'
 'JAVA' 'Apache Spark' 'Computer Networking,  Network Security '
 'SAP BW / ABAP' 'Go, PHP, SQL' 'Kotlin ' 'Jira' 'Qml' 'AWS' 'C#/.NET'
 'Kotlin, Java' 'Linux Kernel' 'several' 'Android/Kotlin' 'embedded'
 'Java/Groovy' 'typescript' 'Python + SQL' 'Typescript, Web apps'
 'Terraform ' 'Java, .Net' 'Python, statistics, SQL'
 'Sql, BQ, tableau, gtm, ga' 'React '
 'Business Development Manager Operation ' 'Management' 'Java, Kotlin'
 'Nodejs' 'TS' 'sql' 'Spark, Pytorch' 'C/C++'
 'java/scala/go/clouds/devops'
 'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts'
 'Python, SQL' 'DWH' 'Azure' 'Sketch, Figma' 'js' 'k8s'
 'Frontend: react, node.js' 'VB, RPA, Python' 'FBD' 'C, C++'
 'Swift, Objective-C, iOS' 'Embedded' 'JavaScript / TypeScript'
 'SAP / ABAP' 'Kubrrnetes' 'networking, linux, automation, cloud' 'UML'
 'Spark' 'Js, reactJS ' 'Cobol' 'SRE' 'Clojure' 'JS, WDIO'
 'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet' 'Spring' 'swift'
 'Офмф' 'React JS' 'Typescript ' 'TypeScript/Angular' 'golang'
 'Kotlin/PHP' 'SAP ABAP' 'AI' 'pythin' 'julia' 'Java & PHP' 'Sql ' 'C++/c'
 'Angular, Typescript' 'Pyrhon' 'PM tools' 'Grails, Groovy' 'python '
 'React / JavaScript' 'Perl' 'Python, cloud computing ' 'Haskell'
 'JavScript' 'Python (Django)' 'Network Automation'
 'Kubernetes, Terraform, GCP' 'PowerShell' 'python, scala'
 'Django, Flask, Plotly Dash' 'Sql' 'Javascript, Angular' 'SAS,SQL,Python'
 'Node' 'Python/SQL' 'php, js, python, docker' 'C, Matlab'
 'TypeScript, Kotlin' 'Apotheker' 'JavaScript, TypeScript'
 'Tricentis Tosca' 'Swift/Kotlin' 'Java & Distributed Systems Stuff'
 'jenkins bash' 'Test Management ' 'NodeJS/TS' 'PHP/MySQL'
 'Angular, TypeScript' 'NLP, Python'
 'Python, Whole Apache Data Science Stack, AWS' 'Embedded C++' 'NodsJs'
 'Javascript/Typescript' 'Linux' 'Kuberenetes, Openstack' 'c/c++'
 'JS, Java' 'Python, Pytorch' 'PS, Sketch, React, CSS3' 'Python/NLP'
 'Scala, Apache Spark' 'Swift, Objective-C' 'React.js / TypeScript'
 'BI, DWH, ETL/ELT' 'GCP' 'Web' 'PL/SQL' 'SAP' 'scala' 'Java / Scala'
 'Magento' 'Python, database technologies' 'C++, C#' 'Java Backend'
 '.net, c++, spss, embeddded' '.Net, Angular' 'Atlassian JIRA' 'Qlik'
 'spark' 'consumer analysis']
 **************************************************
other_tech : Null Count is 157
 ['Kotlin, Javascript / Typescript' nan 'Javascript / Typescript, Docker'
 '.NET, SQL, AWS, Docker' 'Python, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript' 'SQL, AWS, Docker'
 'Python, Kotlin, Javascript / Typescript, SQL, AWS' 'Python, C/C++, SQL'
 'PHP, Javascript / Typescript, AWS' 'Go, Kubernetes, Docker' 'SQL'
 'Kotlin, Javascript / Typescript, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, SQL, Go, AWS, Kubernetes, Docker, Terraform'
 'Javascript / Typescript, AWS, Docker' 'Kotlin, Java / Scala, SQL'
 'Python, C/C++, Javascript / Typescript, SQL, Go, AWS, Docker'
 'Swift, AWS' 'Python, Go, AWS, Kubernetes, Docker' 'Python' 'Kotlin'
 'Python, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 'Python, R, Google Cloud, Docker'
 'Python, Javascript / Typescript, Java / Scala, Go, Kubernetes, Docker'
 'Python, Kotlin, Java / Scala, SQL, AWS, Kubernetes, Docker'
 'AWS, Kubernetes, Docker' 'AWS, Kubernetes'
 'Python, C/C++, Javascript / Typescript, .NET, SQL'
 'Kotlin, AWS, Kubernetes, Docker' 'C/C++'
 'Python, SQL, Google Cloud, Kubernetes, Docker'
 'Go, AWS, Kubernetes, Docker, Elixir' 'PHP, SQL, AWS, Kubernetes, Docker'
 'SQL, Go, Kubernetes, Docker'
 'Javascript / Typescript, AWS, Kubernetes, Docker'
 'AWS, Google Cloud, Azure, Docker' 'Java / Scala, AWS, Docker'
 'Javascript / Typescript, Ruby, SQL' 'Javascript / Typescript, SQL'
 'Kotlin, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 '.NET, SQL' 'Javascript / Typescript, Java / Scala' 'C/C++, .NET, SQL'
 'Python, SQL, Go, Google Cloud, bash'
 'Javascript / Typescript, SQL, AWS, Google Cloud, Kubernetes, Docker, Quorum'
 'PHP' 'Javascript / Typescript, .NET, SQL, Azure, Docker'
 'Kotlin, Javascript / Typescript, Java / Scala, Docker'
 'Python, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker'
 'Java / Scala' 'Python, C/C++, SQL, Docker'
 'Python, PHP, Javascript / Typescript, Go, Google Cloud, Kubernetes, Docker'
 'Python, Java / Scala, AWS, Docker' 'Kotlin, Java / Scala' 'Kubernetes'
 'Python, .NET, AWS, Azure, Kubernetes, Docker'
 'Kotlin, Javascript / Typescript, SQL, Docker' 'Python, AWS, Docker'
 'Python, Go, AWS, Kubernetes'
 'Python, Javascript / Typescript, SQL, SAP / ABAP, Google Cloud, Azure'
 'Docker'
 'Python, Javascript / Typescript, .NET, SQL, AWS, Azure, Kubernetes, Docker'
 'Python, Kotlin, Java / Scala, SQL, Kubernetes, Docker'
 'Python, Javascript / Typescript, SQL, Kubernetes, Docker'
 'PHP, Javascript / Typescript, SQL'
 'Python, SQL, AWS, Azure, Kubernetes, Docker' 'Kotlin, Ruby'
 'Python, Java / Scala, R, SQL, AWS, Azure'
 'PHP, Javascript / Typescript, SQL, Docker' 'Python, SQL, AWS, Docker'
 'SQL, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, SQL, AWS, Docker'
 'Javascript / Typescript, AWS' 'Java / Scala, AWS, Kubernetes, Docker'
 'Javascript / Typescript, Go'
 'Javascript / Typescript, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript'
 'Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker' 'Swift'
 'Javascript / Typescript, .NET, SQL'
 'Kotlin, Java / Scala, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, .NET, AWS, Azure, Kubernetes, Docker'
 'Javascript / Typescript, Google Cloud, Docker' 'Python, SQL'
 'Python, Java / Scala, R, SQL, Go, AWS, Google Cloud, Azure, Kubernetes, Docker'
 'Kotlin, Java / Scala, SQL, SAP / ABAP, Kubernetes, Docker'
 'PHP, Javascript / Typescript, Dart' 'Kotlin, Java / Scala, AWS'
 'Ruby, Kubernetes, Docker'
 'Python, Kotlin, Javascript / Typescript, Go, AWS, Kubernetes, Docker'
 'SQL, Elixir' '.NET, SQL, Google Cloud, Kubernetes, Docker'
 'SAP / ABAP, AWS, Google Cloud, Azure, Kubernetes, Docker'
 'Python, Java / Scala, Perl' 'Python, C/C++, SQL, AWS' 'Python, Ruby'
 'Python, Kotlin, Javascript / Typescript, Java / Scala, Docker' 'SQL, Go'
 'AWS, Docker'
 'PHP, Javascript / Typescript, Go, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Java / Scala, SQL' 'Python, SQL, AWS, Azure'
 'Python, PHP, Javascript / Typescript, SQL, Go, Perl, AWS, Google Cloud, Azure, Kubernetes, Docker'
 'Python, Docker' 'Javascript / Typescript, SQL, Google Cloud, Docker'
 'Python, Kubernetes' 'Python, SQL, AWS, Kubernetes, Docker'
 'PHP, Javascript / Typescript, SQL, AWS, Docker' 'Swift, Objective-C'
 'Python, C/C++, Pytorch'
 'Kotlin, Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker'
 'PHP, AWS, Google Cloud'
 'Python, Kotlin, Swift, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 'PHP, Javascript / Typescript, SQL, Google Cloud, Docker'
 'R, SQL, AWS, Azure, Docker' 'PHP, Javascript / Typescript'
 'PHP, SQL, AWS, Azure, Kubernetes, Docker' 'Kubernetes, Docker'
 'C/C++, PHP, .NET, SQL' 'Python, C/C++'
 'Python, Kubernetes, Docker, Ansible'
 'C/C++, Javascript / Typescript, Java / Scala, SQL, Docker'
 'Python, C/C++, .NET, Java / Scala'
 'Kotlin, Java / Scala, AWS, Kubernetes, Docker' '.NET, Azure' '.NET'
 'Javascript / Typescript, Kubernetes, Docker, Angular'
 'Python, Javascript / Typescript, Go'
 'Java / Scala, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, Java / Scala, SQL, AWS, Kubernetes, Docker'
 'Java / Scala, SQL, Google Cloud, Docker'
 'Python, Javascript / Typescript, SQL, AWS, Docker'
 'Kotlin, .NET, Java / Scala, Dart' 'C/C++, SQL, AWS, Docker'
 'Swift, Javascript / Typescript, Java / Scala, Google Cloud'
 'Python, Javascript / Typescript, Java / Scala, SQL, AWS, Docker'
 'Kotlin, Swift, Go, AWS, Kubernetes, Docker' 'R, SQL, Perl, Docker'
 'Python, Javascript / Typescript, SQL, Go, Perl, Google Cloud, Kubernetes, Docker'
 'Kotlin, Java / Scala, SQL, AWS, Docker'
 'PHP, Javascript / Typescript, Perl, AWS, Kubernetes, Docker'
 'Javascript / Typescript, .NET' 'Kotlin, Javascript / Typescript, Dart'
 'Python, AWS, Azure, Kubernetes, Docker'
 'Javascript / Typescript, Java / Scala, Go'
 'Swift, Javascript / Typescript, Go, AWS, Kubernetes, Docker'
 'Swift, Flutter' 'R, SQL' 'Python, C/C++, Swift, Matlab '
 'PHP, Javascript / Typescript, .NET, SQL, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Go, AWS, Docker' '.NET, SQL, Azure, Docker'
 'Python, R, Azure'
 'Javascript / Typescript, Java / Scala, SQL, AWS, Docker'
 'C/C++, PyTorch' 'Python, Java / Scala, SQL, AWS, Azure'
 'Javascript / Typescript, .NET, SQL, AWS, Docker'
 'Python, PHP, Javascript / Typescript, SQL, Docker'
 'Javascript / Typescript, .NET, SQL, AWS, Azure, Kubernetes, Docker'
 'AWS, Google Cloud' 'Adobe Cloud, Sketch, 3Ds Max'
 'Javascript / Typescript, Kubernetes, Docker' 'PHP, SQL'
 'Ruby, Objective C' 'Kotlin, SQL, AWS, Docker, Spark'
 'Python, .NET, Azure, Kubernetes, Docker'
 'Python, Kotlin, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker'
 'SQL, Go, AWS, Docker' 'Kotlin, Java / Scala, Azure'
 'Kotlin, SQL, Azure, Kubernetes, Docker, Mongo'
 'Javascript / Typescript, Azure, Kubernetes, GraphQL'
 'SQL, AWS, Kubernetes, Docker, Groovy' 'SQL, Go, AWS, Kubernetes, Docker'
 'Javascript / Typescript, SQL, Azure'
 'SQL, AWS, Azure, Kubernetes, Docker'
 'Java / Scala, SQL, AWS, Google Cloud, Azure, Docker'
 'SQL, AWS, Kubernetes' 'Kotlin, .NET, SQL, AWS'
 'Javascript / Typescript, Ruby, AWS, Kubernetes, Docker'
 'Javascript / Typescript, AWS, Kubernetes'
 'Python, C/C++, Javascript / Typescript, Ruby, .NET, Java / Scala, SQL, Go, AWS, Kubernetes'
 'Python, Kotlin, Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker'
 'Python, PHP, Javascript / Typescript, SQL' 'Swift, objective-c'
 'Javascript / Typescript, .NET, SQL, Azure, Kubernetes, Docker'
 'Javascript / Typescript, SQL, Go, AWS, Docker'
 'Go, AWS, Kubernetes, Docker' 'Python, Javascript / Typescript, Docker'
 'Javascript / Typescript, .NET, SQL, Azure' 'Erlang'
 'Python, Kotlin, Java / Scala, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Ruby, SQL, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Java / Scala, AWS'
 'Python, Java / Scala, Docker' 'Python, SQL, Docker'
 'Javascript / Typescript, Kubernetes' 'Python, SQL, Kubernetes, Docker'
 'PHP, Java / Scala' 'PHP, Javascript / Typescript, Java / Scala, Docker'
 'PHP, Go' 'Elixir' 'Python, SQL, Go, AWS, Kubernetes, Docker'
 'SAP / ABAP' 'Python, Java / Scala' 'Kotlin, C/C++, Java / Scala'
 'PHP, SQL, Go, Docker, Postgres'
 'Python, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, .NET, SQL, Docker' 'Python, C/C++, Docker'
 'Javascript / Typescript, SAP / ABAP'
 'Python, Kotlin, Javascript / Typescript, Java / Scala, SQL, Kubernetes, Docker'
 'Linux' 'Ruby, Java / Scala, Go, AWS, Kubernetes, Docker'
 'Kotlin, Javascript / Typescript, Java / Scala, Kubernetes, Docker'
 'MongoDB' 'Javascript / Typescript, .NET, SQL, Go, Kubernetes, Docker'
 'Python, SQL, Azure' 'PHP, SQL, Perl'
 'Python, C/C++, Javascript / Typescript, Java / Scala'
 'Java / Scala, SQL' 'Python, Javascript / Typescript, Apex'
 'C/C++, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, AWS, Docker'
 'Python, C/C++, Javascript / Typescript, Java / Scala, SQL, Kubernetes'
 'Python, Ruby, Java / Scala, Google Cloud, Kubernetes, Docker'
 'Python, C/C++, Javascript / Typescript, SQL'
 'Python, Kotlin, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 'Python, Javascript / Typescript, .NET, Java / Scala, Kubernetes, Docker'
 'Python, Javascript / Typescript, Java / Scala, Go, AWS, Kubernetes, Docker'
 'Python, Go, AWS, Docker' 'Python, C/C++, AWS, Kubernetes, Docker'
 'PHP, SQL, Kubernetes, Docker' 'C/C++, PHP, SQL' 'Python, R, Go' 'Go'
 'Python, Javascript / Typescript, SQL, Go, AWS, Google Cloud, Kubernetes, Docker'
 'Kotlin, SQL, AWS, Kubernetes, Docker' 'SQL, Kubernetes, Docker'
 'Python, Ruby, Java / Scala, Go, Rust, AWS, Kubernetes, Docker, Terraform, helm, packer'
 'Javascript / Typescript, Google Cloud, Kubernetes, Docker'
 'Python, R, SQL, SAP / ABAP, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, SQL, AWS, Docker, React, Tailwindcss'
 'PHP, SQL, AWS, Docker' 'Javascript / Typescript, Angular'

## Work On Structure Error

In [8]:
# covid_lost Column
dics ={
"i didn't but will be looking for new one because of covid":'No',
'kurzarbeitzeit for 1.5 months':'No',
'Have been a freelancer at the beginning of year':'No',
'No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months':'No',
'Lost the job but for different reason':'No',
'Leads and project inquiries have slowed down' :'No',
'Laid off for a bit':'No',
'yes but found a new one with better pay / perks':'Yes' 
}

for i in dics:
    df['covid_lost'] = df['covid_lost'].apply(lambda x:dics.get(i) if (x==i) else x )

In [9]:
# main_language Column
dics = {
'English and German':'English',
'50/50':'English',
'Русский':'Russian',
'both':'English',
'Russian, English':'English'
}

for i in dics:
    df['main_language'] = df['main_language'].apply(lambda x:dics.get(i) if (x==i) else x )

In [10]:
# contract_duration Column
dics = {
'0':'Temporary contract'
}

for i in dics:
    df['contract_duration'] = df['contract_duration'].apply(lambda x:dics.get(i) if (x==i) else x )

In [11]:
# emp_state Column
dics = {
'Full-time employee':'full-time',
'Self-employed (freelancer)':'freelancer',
'Company Director':'full-time',
'Founder':'full-time',
'Part-time employee':'part-time',
'working student':'part-time',
'Working Student':'part-time',
"Full-time position, part-time position, & self-employed (freelancing, tutoring)":'full-time',
"full-time, but 32 hours per week (it was my request, I'm a student)":'part-time',
'Werkstudent':'part-time'
}

for i in dics:
    df['emp_state'] = df['emp_state'].apply(lambda x:dics.get(i) if (x==i) else x )

In [12]:
# Experience Column
dics = {
    '1,5':'1.50',
    '1 (as QA Engineer) / 11 in total':'11',
    '2,5':'2.5',
    '15, thereof 8 as CTO':'15',
    '6 (not as a data scientist, but as a lab scientist)':'6',
    '383':'38',
    'less than year':'0'
}

for i in dics:
    df['experience'] = df['experience'].apply(lambda x:dics.get(i) if (x==i) else x )

In [13]:
# Germany_experience  Column
dics = {'1,5':'1.5',
'4,5':'4.5',
'1,7':'1.7',
'3,5':'3.5',
'< 1':'0',
'4 (in Switzerland), 0 (in Germany)':'0',
'4 month':'0',
'2,5':'2.5',
'0,5':'0.5',
'3 months':'0',
'3 (in Poland)':'0',
'<1':'0',
'⁰':'0',
'0,3':'0',
'-':'0',
'6 (not as a data scientist, but as a lab scientist)':'0',
'0.2':'0',
'less than year':'0'
}


for i in dics:
    df['germany_experience'] = df['germany_experience'].apply(lambda x:dics.get(i) if (x==i) else x )

In [14]:
# work_level Column
dics = {
    'Intern':'intern',
    'Student':'student',
    "no idea, there are no ranges in the firm ":'Senior'
}


for i in dics:
    df['work_level'] = df['work_level'].apply(lambda x:dics.get(i) if (x==i) else x )

In [15]:
# vacation_days  Column
dics = {
    '(no idea)':'0',
    '30 in contract (but theoretically unlimited)':'30',
    'Unlimited ':'100',
    '~25':'25',
    '23+':'25',
    'Unlimited':'100',
    '24 labour days':'24',
    'unlimited ':100,
    'unlimited':100
}


for i in dics:
    df['vacation_days'] = df['vacation_days'].apply(lambda x:dics.get(i) if (x==i) else x )

## Deal With Null Values

Fill Age Column Null Values Based On Average Experience of Each Age

In [16]:
df['age'] = df['age'].fillna(df.groupby('experience')['age'].transform('mean'))

# Drop Rows With Null Experiance
df.dropna(subset=['age'], how='all', inplace=True)

<b>Change age datatype to use it on filling experience null rows

In [ ]:
df['age']=df['age'].astype('int64')
df['experience']=df['experience'].astype('float')
df['germany_experience']=df['germany_experience'].astype('float')

Drop Rows Of Null Gender Column

In [ ]:
df.dropna(subset=['gender'], how='all', inplace=True)

Drop Rows Of Null Position Column

In [ ]:
df.dropna(subset=['position'], how='all', inplace=True)

Fill Experience Column Null Values Based On Average Age of Each Experience

In [ ]:
df['experience'] = df['experience'].fillna(df.groupby('age')['experience'].transform('mean'))

# Drop Rows With Null Age
df.dropna(subset=['experience'], how='all', inplace=True)

check outliers on germany_experience to fill nulls

In [ ]:
print('Mean',df.germany_experience.mean(),'and Median',df.germany_experience.median())
px.box(df.germany_experience).show()

Use Median To Fill Nulls

<b> Drop Nulls on Those Columns Because No Reference To Get The Data From It

In [ ]:
df.germany_experience.fillna(df.germany_experience.median,inplace=True)

In [ ]:
df.dropna(subset=['other_tech'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['main_tech'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['vacation_days'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['contract_duration'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['company_type'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['contract_duration'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['work_level'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['covid_lost'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['emp_state'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['main_language'], how='all', inplace=True)

In [ ]:
df.dropna(subset=['company_size'], how='all', inplace=True)

In [ ]:
# convert vacation number column to float
df['vacation_days']=df['vacation_days'].astype('float')

<a id='df'></a>
# Data Final Look

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

<a id=eda></a>
# Exploratory Data Analysis

<img src="https://media2.giphy.com/media/y31rRE5h3wyPXey8vx/giphy.gif?cid=ecf05e47tyfles51nr6kpluybtefs5d01lwgaqf53oiprkyt&rid=giphy.gif&ct=g">

## 1.How Big Are The Companies In Europe ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663511626954' style='position: relative'><noscript><a href='#'><img alt='The Most Common Companies Size  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it13&#47;compsizes&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it13&#47;compsizes' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it13&#47;compsizes&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663511626954');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 2.What Are The Most Popular Technologies Per Each Position ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663511715715' style='position: relative'><noscript><a href='#'><img alt='Most Used Tech For Positions  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it12&#47;usedtech&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it12&#47;usedtech' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it12&#47;usedtech&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663511715715');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 3.How Many Years Of Experience Do You Need To Get Each Work Level In Germany?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663511805579' style='position: relative'><noscript><a href='#'><img alt='Average Germany Experience In Each Work Level ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it10&#47;gerexp&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it10&#47;gerexp' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it10&#47;gerexp&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663511805579');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 4.Which City has The Highest Chance To Get An Opportunity?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663511926075' style='position: relative'><noscript><a href='#'><img alt='High Chance City To Find a IT Opportunity ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it9&#47;city&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it9&#47;city' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it9&#47;city&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663511926075');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 5.Which Domain Pays more ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663512057683' style='position: relative'><noscript><a href='#'><img alt='Top Company Type At The Salary ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it8&#47;topsalary&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it8&#47;topsalary' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it8&#47;topsalary&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663512057683');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 6.Which Age Has The Highest Chance To Get an IT Opportunity ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663512318170' style='position: relative'><noscript><a href='#'><img alt='Range Of Ages IT Agence in 2020 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it7&#47;rangeofages&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it7&#47;rangeofages' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it7&#47;rangeofages&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663512318170');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 7.How safe Are The Opportunites in Europe ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663512392103' style='position: relative'><noscript><a href='#'><img alt='Contract Type ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it6&#47;contract&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it6&#47;contract' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it6&#47;contract&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663512392103');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 8.What is The most Common Work Level ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663512837113' style='position: relative'><noscript><a href='#'><img alt='Percentage Of Each Work Level ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it5&#47;worklevel&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it5&#47;worklevel' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it5&#47;worklevel&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663512837113');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 9.Which Work Level Get More Vacation ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663512882713' style='position: relative'><noscript><a href='#'><img alt='Average Vacation Days Per Position ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it4&#47;vacation&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it4&#47;vacation' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it4&#47;vacation&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663512882713');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 10.Which Language Should You Use There ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663512927092' style='position: relative'><noscript><a href='#'><img alt='Which Language Is The Most Popular ?  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it3_16634168893850&#47;language&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it3_16634168893850&#47;language' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it3_16634168893850&#47;language&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663512927092');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 11.What is The Most Popluar Job In Europe 2020?

In [ ]:
%%HTML 
<div class='tableauPlaceholder' id='viz1663514281043' style='position: relative'><noscript><a href='#'><img alt='Most Common Jobs at IT in 2020 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it2_16634168514120&#47;commonjobs&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it2_16634168514120&#47;commonjobs' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it2_16634168514120&#47;commonjobs&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663514281043');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

## 12.How Covid-18 Affects on The Jobs in 2020 ?

In [ ]:
%%HTML
<div class='tableauPlaceholder' id='viz1663513011500' style='position: relative'><noscript><a href='#'><img alt='How Covid Affects The Jobs ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it1&#47;covid&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='it1&#47;covid' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;it&#47;it1&#47;covid&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1663513011500');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

 <a id='con'></a>
 # Conclusion

<br>**How Big Are The Companies In Europe ?** <br>
* 36% of them over 1000 Employee
* 32% of them 100-1000 Employee
* 14% of them 10-50 Employee
* 12% of them 50-110 Employee
* 5% of them up to Employee

<br>**What Are The Most Popular Technologies Per Each Position ?** <br>
* Backend Developer
    - Java
    - PHP
    - Python
    
<br>

* Data Analyst, Data Engineer, Data Scientist, and ML Engineer
    - Pthon
    
<br>

* DevOps
    - Python
    - Java

<br>

* Software Engineer
    - Java
    - Python
    - PHP

<br>

* Mobile Depeloper
    - Java

<br>

* Project Manager
    - Python


<br>**How Many Years Of Experience Do You Need To Get Each Work Level In Germany?** <br>
* 13 Years For a C-Level
* 7 Years For a VP
* 5.5 Years For a Head
* 5 Years For a lead
* 4.5 Years For Senior
* 4 Years For CTO
* 1.5 Years For a Junior

<br>**Which City has The Highest Chance To Get An Opportunity?** <br>
* Berlin
* Munich
* Hamburg

<br>**Which Domain Pays more ?** <br>
* Concern
* Cloud
* Pharma
* E-Commerce
* Corporation

<br>**Which Age Has The Highest Chance To Get an IT Opportunity ?** <br>
* the Range Between 25 To 38 Is The Most Luckly To Get The Job

<br>**How safe Are The Opportunites in Europe ?** <br>
* 94% Of The Comntracte Are Unlimited Contract, So It's Really Safe 

<br>**What is The most Common Work Level ?** <br>
* Senior, Then Middle, Then Lead

<br>**Which Work Level Get More Vacation ?** <br>
* Consaltant
* Team Lead
* QA Engineer
* Solution Architect
* Manager

<br>**Which Language Should You Use There ?** <br>
* English
* German

<br>**What is The Most Popluar Job In Europe 2020?** <br>
* Software Engineer
* Backend-Developer
* Data Scientist

<br>**How Covid-19 Affects on The Jobs in 2020 ?** <br>
* On 2020, Covid Has Not The Effect on The IT Jobs

 <a id='st'></a>
 # The Story

<img src='https://media.giphy.com/media/XrwenGNux1GpYu25Qp/giphy.gif'>

#### If You Want To Get a Job As IT Specialist Here is Some tips that wiLL Help.
1- You Should Be Between 25 and 38 Is The Most Luckily To Get The Job.<br>
2- You Should Know Java Or Python Because It's The Most Used Programming Langauge<br>
3- You Should Search Berlin, Munich, or Hamburg Because They Have The Highest Chance Of Find A Job There<br>
4- You Should Search on Concern, Cloud, Pharma, E-Commerce, or Corporation Domains Because They Pay The Most.<br>
5- You Must BE  Perfect With English, Because It's The Most Used Language Then Germany<br>
6- You Should Learn To be Software Engineer, Backend-Developer, or Data Scientist For Higher Job opportunities.<br>
<br>
Don't Worry About Losing Your Job Die To Covid-19, because it doesn't Affect On It.<br>
Don't Worry About The Job Security, Because 94% Of The Contract Are Unlimited Contract<br>

<img style="display:inline; " src="https://media4.giphy.com/media/lQ6KHKqQaPrx7CBhPD/giphy.gif?cid=790b7611f9ec670f52232fd75b6b5273e13f44c70a07c032&rid=giphy.gif&ct=g" width="300" height="400">

<img style="display:inline" src="https://media2.giphy.com/media/BYoRqTmcgzHcL9TCy1/giphy.gif?cid=790b76117545874ff11cb1e1099fbc05dcbd5567b77a1735&rid=giphy.gif&ct=g"/>

<img style="display:inline; " src="https://media4.giphy.com/media/lQ6KHKqQaPrx7CBhPD/giphy.gif?cid=790b7611f9ec670f52232fd75b6b5273e13f44c70a07c032&rid=giphy.gif&ct=g" width="300" height="400">